.bigcontainer {
  width: 100%;
  padding: 0vh 10vh;
  height: fit-content;
}

.container {
  width: 100%;
  /* height: 6vh; */
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1vh 0vh;
}

.bigcontainer > img {
  height: 25px;
  width: 25px;
}

.rightnest {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.rightnest > a > img {
  height: 25px;
  width: 25px;
}

.footerlegal {
  margin: 0;
  font-style: normal;
  font-weight: bolder;
  font-size: 10px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: black;
  font-size: 12px;
}

.rightnest img {
  opacity: 0.5;
}

.rightnest img:hover {
  opacity: 1.5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 0vh;
  border-bottom: 2px solid black;
}

.navbar > ul {
  display: flex;
  justify-content: center;
  gap: 2vh;
  padding: 0;
  margin: 0;
  height: fit-content;
}

.navbar > p {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1vh;
  font-size: 20px;
  font-weight: 200;
}

.navbar > p > img {
  height: 25px;
  width: 25px;
}

.navbar > ul > li > a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: 200;
  transition: 0.3s ease-in-out;
  position: relative;
}

.navbar > ul > li > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar > ul > li > a:hover:before {
  visibility: visible;
  width: 100%;
}

@media (max-width: 480px) {
  .bigcontainer {
    padding: 0 20px;
  }
  .navbar {
    display: none;
  }
  .container {
    height: 10vh;
    width: 100%;
    align-self: center;
  }
  .leftnest > p {
    font-size: 12px;
  }
  .rightnest > a > img {
    height: 35px;
    width: 35px;
  }
}
