.container {
  width: 100%;
  height: 6vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0vh 20vh;
}

.leftnest {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.leftnest > img {
  height: 25px;
  width: 25px;
}

.leftnest > p {
  color: black;
  font-size: 15px;
}

.middlenest {
  /* Paragraph/P1 / Regular */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height, or 121% */
  text-align: center;
  color: #f8fafc;
}

.rightnest {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.rightnest > a > img {
  height: 25px;
  width: 25px;
}

.footerlegal {
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height, or 140% */
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  /* Neutral / Gray 50 */
  color: #f8fafc;
}

.rightnest img {
  opacity: 0.5;
}

.rightnest img:hover {
  opacity: 1.5;
}
