.bigcontainer {
  width: 100%;
  padding: 0vh 20vh;
}

.container {
  width: 100%;
  height: 6vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.leftnest {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.bigcontainer > img {
  height: 25px;
  width: 25px;
}

.leftnest > p {
  color: black;
  font-size: 15px;
}

.rightnest {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.rightnest > a > img {
  height: 25px;
  width: 25px;
}

.footerlegal {
  font-style: normal;
  font-weight: bolder;
  font-size: 10px;
  /* identical to box height, or 140% */
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  /* Neutral / Gray 50 */
  color: #f8fafc;
}

.rightnest img {
  opacity: 0.5;
}

.rightnest img:hover {
  opacity: 1.5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  gap: 3vh;
  border-bottom: 2px solid black;
}

.navbar > ul {
  display: flex;
  gap: 2vh;
}

.navbar > p {
  display: flex;
  align-self: center;
  gap: 1vh;
  font-size: 24px;
  font-weight: 600;
}

.navbar > p > img {
  height: 30px;
  width: 30px;
}

.navbar > ul > li > a {
  font-size: 24px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  position: relative;
}

.navbar > ul > li > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar > ul > li > a:hover:before {
  visibility: visible;
  width: 100%;
}

@media (max-width: 480px) {
  .bigcontainer {
    padding: 0 20px;
  }
  .navbar {
    display: none;
  }
  .container {
    height: 10vh;
    width: 100%;
    align-self: center;
  }
  .leftnest > p {
    font-size: 12px;
  }
  .rightnest > a > img {
    height: 35px;
    width: 35px;
  }
}
