.maincontainer {
  background-color: black;
  border: none;
  width: 100vw;
}

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2vh;
}
.navbar {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 50px;
}

.navbar a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  position: relative;
}

.navbar a:not(.instagram)::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover:not(.instagram)::before {
  visibility: visible;
  width: 100%;
}

.navbar > li {
  list-style: none;
  display: flex;
  justify-content: center;
}

.banner {
  background-image: url("https://live.staticflickr.com/65535/52694050803_38ddde19fa_h.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title p {
  font-size: 80px;
  font-weight: 0;
  color: white;
  text-transform: uppercase;
}

.title {
  position: absolute;
  top: 70%;
  margin-left: 110px;
}

.image {
  height: 100%;
  width: 30px;
}

.navcontainer > a:not(.navbar) {
  text-decoration: none;
}

@media (max-width: 480px) {
  .navcontainer {
    flex-direction: column;
    gap: 100px;
    padding-top: 6vh;
  }
  .navbar {
    flex-direction: column;
  }
  .banner {
    height: 50vh;
  }
}
