.image {
  width: 25%;
  height: 20%;
  animation: rotation 50s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.container {
  display: flex;
  justify-content: center;
}
