.container {
  padding: 15vh 0vh;
  background-color: rgb(22, 21, 19);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.title {
  color: white;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  width: 70%;
  justify-content: space-around;
  justify-content: center;
}

.card {
  object-fit: cover;
  height: 40vh;
  width: 450px;
  border-radius: 6px;
  filter: opacity(0.7);
  transition: 0.2s linear;
}

.cardcover {
  position: relative;
}

.card:hover {
  filter: none;
}

.content {
  color: white;
  margin: 0 auto;
  font-size: 40px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.container > a {
  width: fit-content;
  font-weight: 900;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  border: 2px solid white;
  padding: 12px 46px;
  border-radius: 12px;
  transition: 0.2s linear;
}

.container > a:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}
