.container {
  padding: 10vh 0vh;
  background-color: rgb(22, 21, 19);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.title {
  color: white;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  width: 80%;
  justify-content: space-around;
  justify-content: center;
}

.card {
  object-fit: cover;
  height: 40vh;
  width: 450px;
  border-radius: 6px;
}

.cardcover {
  position: relative;
  transition: 0.2s linear;
}

.cardcover:hover {
  filter: opacity(0.6);
}

.content {
  color: white;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
