.container {
  padding: 15vh 0vh;
  background-color: rgb(22, 21, 19);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.title {
  color: white;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  width: 90%;
  justify-content: space-around;
  justify-content: center;
}

.card {
  object-fit: cover;
  height: 40vh;
  width: 600px;
  border-radius: 6px;
  filter: opacity(0.7);
  transition: 0.2s linear;
}

.cardcover {
  position: relative;
}

.card:hover {
  filter: none;
}

.content {
  color: white;
  margin: 0 auto;
  font-size: 35px;
  font-weight: 100;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.container > a {
  width: fit-content;
  font-weight: 100;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  padding: 12px 46px;
  border-radius: 12px;
  transition: 0.2s linear;
}

.container > a:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}

@media (max-width: 480px) {
  .container {
    padding: 10vh 0vh;
  }

  .cardcontainer {
    gap: 3vh;
  }
  .title {
    font-size: 30px;
  }
  .content {
    font-size: 25px;
  }
  .container > a {
    font-size: 18px;
  }
  .card {
    height: 39vh;
  }
}
