.container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  height: 40vh;
  margin: auto;
}

.container > p {
  color: black;
  text-align: right;
  font-size: 50px;
  font-weight: 700;
  width: 40%;
  text-transform: uppercase;
}

.rightcontainer {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 30%;
}

.rightcontainer > p {
  color: black;
  font-weight: 600;
  width: 80%;
}

.rightcontainer > a {
  width: fit-content;
  font-weight: 900;
  text-decoration: none;
  color: white;
  background-color: black;
  border: 2px solid black;
  padding: 12px 18px;
  border-radius: 12px;
  transition: 0.2s linear;
}

.rightcontainer > a:hover {
  background-color: white;
  color: black;
  border: 2px solid rgb(232, 230, 230);
}
