.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
  justify-content: center;
  align-items: center;
  padding: 10vh;
  background-color: black;
}

.card {
  width: 45vh;
  height: 40vh;
  object-fit: cover;
  object-position: 50% 65%;
}

@media (max-width: 480px) {
  .card {
    width: 52vh;
    height: 52vh;
  }
  .container {
    padding: 10vh 0vh;
  }
}

@media (max-width: 820px) {
  .card {
    width: 40vh;
    height: 40vh;
  }
  .container {
    padding: 10vh 5vh;
  }
}
