.bigcontainer {
  background-color: black;
  padding-top: 10vh;
}

.filter {
  display: flex;
  gap: 3vh;
  justify-content: center;
  font-size: 24px;
  display: none;
}

.filter > button {
  width: 200px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  padding: 6px;
}

.filter > button.active {
  background-color: aqua;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
  justify-content: center;
  align-items: center;
  padding: 10vh;
  background-color: black;
  width: 100%;
}

.card {
  /* width: 25vh; */
  height: 35vh;
  object-fit: cover;
  object-position: 50% 65%;
}

@media (max-width: 480px) {
  .card {
    width: 52vh;
    height: 52vh;
  }
  .container {
    padding: 10vh 0vh;
  }
}

@media (max-width: 820px) {
  .card {
    width: 50vh;
    height: 50vh;
  }
  .container {
    padding: 10vh 1vh;
  }
}
