.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
  justify-content: center;
  align-items: center;
  padding: 10vh 20vh;
  background-color: black;
}

.card {
  /* width: 25vh; */
  height: 35vh;
  object-fit: cover;
  object-position: 50% 65%;
}

@media (max-width: 480px) {
  .card {
    width: 52vh;
    height: 52vh;
  }
  .container {
    padding: 10vh 0vh;
  }
}

@media (max-width: 820px) {
  .card {
    width: 50vh;
    height: 50vh;
  }
  .container {
    padding: 10vh 1vh;
  }
}
