.container {
  padding: 5vh 15vh;
  background-color: black;
  position: relative;
}

.banner {
  width: 100%;
  height: 75vh;
  margin: auto;
  background-image: url("https://live.staticflickr.com/65535/52694172213_0475c82139_k.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  filter: opacity(0.6);
}
.title {
  position: absolute;
  font-size: 70px;
  color: white;
  margin: auto 0;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-weight: 300;
}

@media (max-width: 480px) {
  .container {
    padding: 5vh 0vh;
  }
  .title {
    font-size: 40px;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 5vh 0vh;
  }
  .title {
    font-size: 40px;
  }
}
