.container {
  border: 1px solid black;
  padding: 30px;
  width: 100%;
  margin: auto;
  background-color: rgb(36, 34, 29);
  position: relative;
  border: none;
}

.carousel {
  width: 50%;
  margin: auto;
}

.container > p {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  padding: 20px;
  position: absolute;
  z-index: 7;
}
