.container {
  border: 1px solid black;
  /* padding: 20px; */
  width: 45%;
  /* margin: auto; */
  background-color: rgb(36, 34, 29);
  position: relative;
  border: none;
}

.carousel {
  width: 100%;
}

.container > p {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  padding: 20px;
  position: absolute;
  z-index: 7;
}
