.container {
  border: 1px solid black;
  padding: 15vh 0vh;
  width: 100%;
  margin: auto;
  background-color: rgb(22, 21, 19);
  position: relative;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

.carousel {
  width: 100vh;
  height: 60vh;
}

.carouselitem > img {
  height: 60vh;
}

.caption > h3 {
  font-size: 30px;
  font-weight: 800;
}

.container > p {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  padding: 20px;
  position: absolute;
  z-index: 7;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 3vh;
}

.title {
  color: white;
  font-size: 55px;
  font-weight: 800;
  width: 30vh;
}

.content p:not(.title) {
  font-weight: 600;
  color: white;
  width: 30vh;
}

.content a {
  width: fit-content;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 2px solid white;
  padding: 12px 18px;
  border-radius: 12px;
  transition: 0.2s linear;
}

.content a:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}
