html,
body,
* {
  padding: 0;
  margin: 0;
  /* border: 1px solid RED; */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  box-sizing: border-box;
}
